html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scroll */
}
.hero-container {
    position: relative;
    height: 100vh;
}
.hero-image {
    background-image: url('hero image.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
}
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
.hero-text h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}
.hero-text p {
    font-size: 1.2em;
}
button {
    background-color: #a2c4c9;
    color: #fffefe;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #e08b8b;
}

.content {
    text-align: center;
    padding: 50px 20px;
    background-color: #fffefe;
}
.content h2 {
    font-size: 2em;
    color: #a2c4c9;
    margin-bottom: 20px;
}
.content p {
    font-size: 1.2em;
    color: #616163;
}

.card-container {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}
.card {
    width: 45%;
    margin-bottom: 10px; /* Increase the margin between cards */
    margin-inline: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    overflow: hidden;
}
.card img {
    width: 100%;
    border-radius: 10px;
}
.card-content {
    padding: 10px;
}
.subheader {
    font-size: 1.2em;
    color: #888;
}
.header {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}
.paragraph {
    font-size: 1.1em;
    color: #555;
}

/* Media queries for responsiveness */

/* Mobile (up to 767px) */
@media (max-width: 767px) {
    .card {
        width: 100%;
    }
}

/* Tablet (768px - 991px) */
@media (min-width: 768px) and (max-width: 991px) {
    .card {
        width: calc(50% - 20px); /* 2 columns on tablet */
    }
}

/* Desktop (992px and above) */
@media (min-width: 992px) {
    .card {
        width: calc(33.33% - 20px); /* 3 columns on desktop */
    }
}
