html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

.navbar {
    background-color: #344c50; 
    color: #fff; /* Light text color */
    padding: 30px ; /* Add some padding */
}
/* Center the navigation links */
.nav-links {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}
/* Style the navigation links */
.nav-links li {
    margin-right: 20px; /* Add space between links */
}
.nav-links a {
    color: #fff; /* Light text color for links */
    text-decoration: none; 
    font-weight: bold; 
    transition: color 0.3s; 
    font-family: 'Open Sans', sans-serif;
}
/* Change link color on hover */
.nav-links a:hover {
    color: #fedc97; /* Change color to gold on hover */
}

.hero-container {
    position: relative;
    height: 100vh;
    
}

.hero-image {
    background-image: url('heroimage.jpg'); 
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 100%;    
    alt: "Dimmed image  of two ladies sitting down having tea with cats on their lap"
}
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    font-family: 'Merriweather', sans-serif;
    font-size: 1.2em;

}
.hero-text h1 {
    font-size: 5em;
    margin-bottom: 0.5em;
    color: #fff;
}
@media (max-width: 768px) {
    .hero-text h1 {
      font-size: 2.5em; /* Adjust font size for mobile */
    }
}
button {
    background-color: #344c50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px; /* Set the curvature here (adjust value for more/less roundness) */
    font-family: 'Merriweather', sans-serif;
}
button:hover {
    background-color: #707d7f;
}

.content {
    text-align: center;
    padding: 50px 20px;
    background-color: #fff;
}
.content h2 {
    font-size: 3em;
    color: #344c50;
    margin-bottom: 25px;
    font-family: 'Merriweather', sans-serif;
}
.content p {
    font-size: 1.1em;
    color: #616163;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 30px;
    padding-inline: 20px;
}

.card-container {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}
.card {
    width: 45%;
    margin-bottom: 10px; /* Increase the margin between cards */
    margin-inline: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    overflow: hidden;
}
.card img {
    width: 100%;
    border-radius: 20px;
}
.card-content {
    padding: 20px;

}
.subheader {
    font-size: 1.3em;
    color: #344c50;
    font-family: 'Merriweather', sans-serif;
}
.header {
    font-size: 1.1em;
    color: #616163;
    margin-bottom: 10px;
    font-family: 'Merriweather', sans-serif;
}
.paragraph {
    font-size: 1em;
    color: #616163;
    font-family: 'Open Sans', sans-serif;
}
.video-container {
    margin: 0 auto; /* Centers the container horizontally */
    text-align: center; /* Centers the video within the container (optional) */
  }
/* Mobile (up to 767px) */
@media (max-width: 767px) {
    .card {
        width: 100%;
    }
}

/* Tablet (768px - 991px) */
@media (min-width: 768px) and (max-width: 991px) {
    .card {
        width: calc(50% - 20px); 
    }
}

/* Desktop (992px and above) */
@media (min-width: 992px) {
    .card {
        width: calc(33.33% - 20px); 
    }
}

h2.accordion-title {
    text-align: center;
    margin-bottom: 15px; /* Adjust spacing as needed */
    padding-top: 35px;
    font-weight: bolder; /* Makes the text bolder */
    font-family: 'Merriweather', sans-serif;
  }
.accordion {
    background-color: #fff;
    color: #616163;
    cursor: pointer;
    padding: 25px;
    font-size: medium;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: background-color 0.4s;
    font-family: 'Merriweather', sans-serif;
}
.active, .accordion:hover {
    background-color: #fedc97;
}
/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 25px;
    background-color: #fff;
    color: #616163;
    display: none;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}
.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #616163;
    margin-inline: 10px;
}
.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #344c50; /* Light blue */
    color: #fff; /* White text */
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}
.footer-left {
    flex: 1;
}
.footer-center {
    flex: 2;
    text-align: center;
}
.footer-right {
    flex: 1;
    text-align: right;
}
.contact-info {
    margin-bottom: 10px;
}
.social-links {
    margin-top: 10px;
}
.footer-right p {
    margin-top: 10px;
    font-size: 12px;
}

